.MuiAppBar-colorPrimary
{
    background-color: black!important;
}

.decorationNone
{
    color: black;
    text-decoration: none;
}

#CA
{
    height: auto;
    width: 100%;
    margin-top: 8%;
    font-size: 3rem;

    display: flex;
    justify-content: space-around;
}

@media (min-width: 1366px) {
    #CA {
        margin-left: auto;
        margin-right: auto;
        width: 1266px;
    }
}

@media (max-width: 900px) {
    #CA {
        display: flex;
        flex-direction: column;
    }
}

.boxs
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 900px) {
    #westBoxA {
        padding: 25px 0px;
    }
}

@media (max-width: 900px) {
    #eastBoxA {
        padding: 25px 0px;
        background-color: #505050;
    }
}

#iconSingle:hover
{
    cursor: pointer;
    background-color: crimson;
}

#iconGroup:hover
{
    cursor: pointer;
    background-color: crimson;
}