body
{
    background-color: #303030;
    color: white;
}

#CL
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#h1
{
    margin-bottom: 0px;
}

@media (min-width: 575px) {
    #h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 576px) {
    #h1 {
        font-size: 2rem;
    }
}

#mid
{
    height: auto;
    width: 100%;
    margin-top: 2.5%;

    display: flex;
    align-items: center;
}

@media (min-width: 1366px) {
    #mid {
        width: 1266px;
    }
}

@media (max-width: 900px) {
    #mid {
        margin-top: 0%;
        display: unset;
    }
}

@media (min-width: 901px) {
    #information {
        height: 100%;
        width: 50%;
        font-size: 24px;
        
        display: flex;
        align-items: center;
    }
}

@media (max-width: 900px) {
    #information {
        padding: 20px;
    }
}

@media (min-width: 900px) {
    #textInformation {
        margin-left: 30px;
    }
}

@media (min-width: 901px) {
    #eastBox{
        height: 100%;
        width: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 900px) {
    #eastBox{
        width: 100%;
        padding: 25px 0px;
        background-color:#606060;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#f
{
    height: 100px;
    width: 100%;
    font-weight: 500;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 901px) {
    #f {
        position: fixed;
        bottom: 0;      
    }
}

@media (max-width: 900px) {
    #f {
        position: none;
    }
}

#center
{
    border-radius: 5%;
    padding: 20px;
    background-color: #606060;
}

@media (max-width: 900px) {
    #center {
        border-radius: 0%;
        padding: 0px;
        background-color: none;
    }
}

.text
{
    font-size: 1.75rem;
}

#mod
{
    width: 34ch;
}

#decorationRegister
{
    color: white;
}

#decorationRegister2
{
    text-decoration: none;
    color: white;
}

#decorationNone
{
    text-decoration: none;
}