#CM
{
    height: 350px;
    width: auto;
    margin-top: 4.5%;
    padding: 50px;
    font-size: 3rem;
    border: 10px crimson solid;
    border-radius: 10px;
    background-color: #505050;

    display: flex;
    justify-content: space-around;
}

@media (min-width: 1366px) {
    #CM {
        margin-left: auto;
        margin-right: auto;
        width: 1146px;
    }
}

@media (max-width: 900px) {
    #CM {
        height: auto;
        flex-direction: column;
        align-items: center;
        border: none;
        border-radius: 0%;
        margin-top: 0px;
        padding: 0px;
    }
}

#avatarBoxM
{
    height: 100%;
    width: 200px;
}

#avatarM
{
    height: 200px;
    width: 200px;
    font-size: 3rem;
}

#buttonM
{
    margin-top: 27.5px;
}