.MuiAppBar-colorPrimary
{
    background-color: black!important;
}

.decorationNone
{
    color: black;
    text-decoration: none;
}

#decorationNoneMenu
{
    color: white;
    text-decoration: none;
}

#decorationNoneMenuMobile
{
    color: black;
    text-decoration: none;
}

#CP
{
    height: 350px;
    width: auto;
    margin-top: 4.5%;
    padding: 50px;
    font-size: 3rem;
    border: 10px crimson solid;
    border-radius: 10px;
    background-color: #505050;

    display: flex;
    justify-content: space-around;
}

@media (min-width: 1366px) {
    #CP {
        margin-left: auto;
        margin-right: auto;
        width: 1146px;
    }
}

@media (max-width: 900px) {
    #CP {
        height: auto;
        flex-direction: column;
        align-items: center;
        border: none;
        border-radius: 0%;
        margin-top: 0px;
        padding: 0px;
    }
}

#boxAvatar
{
    height: 100%;
    width: 200px;
}

#avatar
{
    height: 200px;
    width: 200px;
    font-size: 3rem;
}

#westBoxP
{
    height: 100%;
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 900px) {
    #westBoxP {
        width: 100%;
        padding-top: 50px;
    }
}

.fontSizeLine
{
    font-size: 10px;
    font-weight: bold;
}

.fontSize
{
    font-size: 2rem;
}

.margin0
{
    margin: 0px;
}

#marginB0
{
    margin-bottom: 0px;
}

#midBoxP
{
    height: 100%;
    width: 200px;
    padding: 0px 50px;
}

@media (max-width: 900px) {
    #midBoxP {
        width: 100%;
        margin-top: 25px;
        text-align: center;
        padding: 25px 0px;
        background-color: #303030;
    }
}

#eastBoxP
{
    height: 100%;
    width: 100%;
}

#eastBoxPTop
{
    height: 200px;
    width: 100%;
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
}

@media (max-width: 900px) {
    #eastBoxPTop {
        padding: 25px 0px;
    }
}

#eastBoxPBottom
{
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
}

@media (max-width: 900px) {
    #eastBoxPBottom {
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    #eastBoxPBottom {
        font-size: 2.5rem;
    }
}

.eastBoxPBox
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 900px) {
    .eastBoxPBottom30 {
        padding: 25px 0px;
        background-color: #303030;
    }
}

@media (max-width: 900px) {
    .eastBoxPBottomMargin {
        padding: 25px 0px;
    }
}