form
{
    width: 100%;
}

#CR
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 576px) {
    #h1R {
        font-size: 3.5rem;
        margin-bottom: 0px;
    }
}

@media (max-width: 575px) {
    #h1R {
        font-size: 2rem;
    }
}

#midR
{
    height: 250px;
    width: auto;
    margin: 0px;
    margin-top: 2.5%;
    padding: 50px;
    font-size: 2.5rem;
    border: 10px crimson solid;
    border-radius: 10px;
    background-color: #505050;

    display: flex;
    justify-content: space-around;
}

@media (min-width: 1366px) {
    #midR {
        margin-left: auto;
        margin-right: auto;
        width: 1146px;
    }
}

@media (max-width: 900px) {
    #midR {
        height: auto;
        width: 100%;
        border: none;
        border-radius: 0%;
        margin: 0px;
        padding: 0px;
        
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 900px) {
    #boxAvatarR {
        padding: 25px 0px;
    }
}

#avatarR
{
    height: 200px;
    width: 200px;
}

#formBoxR1
{
    height: 100%;
    width: 250px;
    padding: 0px 50px;

    display: flex;
    flex-direction: column;
}

#checkboxR
{
    margin-top: 15px;
    font-size: 14px;
}

@media (max-width: 900px) {
    #formBoxR1 {
        padding: 25px 0px;
    }
}

#formBoxR2
{
    height: 100%;
    width: 250px;

    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    #formBoxR2 {
        padding: 25px 0px;
    }
}

.marginB0R
{
    margin-top: 20px;
    margin-bottom: 0px;
}

#buttonR
{
    margin-top: 15px;
    padding-left: 75px;
    padding-right: 75px;
}

#fR
{
    height: 100px;
    width: 100%;
    font-weight: 500;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 901px) {
    #fR {
        position: fixed;
        bottom: 0;      
    }
}

@media (max-width: 900px) {
    #fR {
        position: none;
    }
}